@charset "utf-8";
/* CSS Document */

#lc div {
	width: 904px;
	margin-left: auto;
	margin-right: auto;
	}

.navDiv {
	 white-space: nowrap;
	 padding: 65px 0 0 0;
	 float: right;
	 width: 610px;
	 }

#thumbnailBlock ul {
	padding: 15px 0 0 0;
	}

.hc div {
	margin: 54px 0 0 0;
	}