@charset "utf-8";
/* CSS Document */

#lc div {
	width: 904px;
	margin-left: auto;
	margin-right: auto;
	}

.navDiv {
	 white-space: nowrap;
	 padding: 16px 0 0 0;
	 width: 610px;
	 margin: 0px;
	 } 

.searchForm {
	 margin: 0 -20px 0 0;
	 position: relative;
	}

#thumbnailBlock ul {
	padding: 15px 0 0 0;
	}

.specialDeals {
	margin: 5px 0 5px 0;
	}

.homeFlashPiece {
	 margin: 5px 5px 5px 0;
	}

#nav  .sub {
	padding: 3px 0 0 0;
	}