.nav {
	height: 31px;
	background-color: #ffffff;
	}

#nav {
	z-index: 1000;
	height: 40px;
	margin: 0 0 0 0;
	}

.innerNav {
	}
	
table.navTable {
	border-collapse:collapse;
	margin-left: auto; 
	margin-right: auto;
	}
	
* > #nav {
	position: relative;
	}

#nav, #nav ul {
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	line-height: 1;
	width: 900px;
	}

#nav a {
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	}

#nav li {
	float: left;
	*height: 24px;
	padding: 0 5px 0 0;
	margin: 0 0 0 0;
	}
	
#nav li li { height: auto; }
#nav li.first, #nav ul li {
	background: none;
	}

#nav li ul {
	position: absolute;
	left: -999em;
	border-top: solid 1px #d0a540;
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background: #ffffff;
	width: 200px;
	}

#nav div {
	padding-top: 5px;
	*padding-top: 10px;
	position: absolute;
	height: 0;
	width: 200px;
	*margin-top: -5px;
	*background: url("/ui/images/ie_nav_fix.gif") top left;
	}

/*hack for ie7 to not have menus stick*/
html>/**/body #nav li:hover ul{
	left: auto;
	}

#nav li.sfhover ul {
	left: auto;
	}

#nav a,
#nav li.itemOn li a {
	color:#666666;
	text-decoration: none;
	}

#nav a:hover,
#nav li.itemOn a{
	color: #0f7970;
	}

#nav li a:hover {
	}

body ul#nav li div ul.sub a {
	margin: 1px 0 1px 1px;
	padding: 5px 5px 5px 8px;
	float: none;
	text-align: left;
	color: black;
	text-decoration: none;
	}

#nav li ul li {
	border-bottom: solid 1px #000000;
	padding: 6px 3px 0 3px;
	float: none;
	width: 195px;
	}

#nav li ul li.first {
	border-top: none;
	}

#nav li ul.sub a:hover {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}

#nav ul.sub li a {
	padding-bottom:7px;
	white-space:nowrap;
	}

#navNetwork {
	background-color: #0f7970;
	padding: 0 75px;
	}

* > #navNetwork {
	}

#navNetwork li {
	list-style-type: none;
	float: left;
	padding: 6px 15px 7px 15px;
	}

#navNetwork a {
	color: white;
	text-decoration: none;
	}

#navNetwork a:hover {
	text-decoration: underline;
	}

#navNetwork li.first {
	}

#navNetwork li.selected a {
	color: black;
	}

#navNetwork li.selected {
	background: #ffffff;
	}

/*left nav*/
div.c1 div.secondNav ul.subnav{
	list-style: none;
	margin: -1px 0px 8px 0px;
	padding: 0;
	}

*div.c1 div.secondNav ul.subnav{
	width: 182px;
	}
	
div.c1 div.secondNav ul.subnav li a{
	display: block;
	text-decoration: none;
	}

div.c1 .secondNav ul.subnav .navlevel2 a:hover{
	padding:2px 0px 2px 15px;
	color: #ffffff;
	margin: 2px 0px 2px 0px;
	background #0f7970;
	line-height: 14px;
	width: 100%;
	}

div.c1 .secondNav ul.subnav .navlevel3top a{
	padding: 2px 0px 2px 15px;
	color: #666666;
	margin: 2px 0px 2px 0px;
	line-height: 16px;
	}

body div.c1 .secondNav ul.subnav li.navlevel3top {
	width: 180px;
	}

div.c1 .secondNav ul.subnav .navlevel3 a{
	padding: 2px 0px 2px 15px;
	color: #666666;
	margin: 2px 0px 2px 0px;
	line-height: 16px;
	}

*div.c1 .secondNav ul.subnav .navlevel3 a{
	width:100%
	}

div.c1 .secondNav ul.subnav .navlevel3 a:hover, 
div.c1 .secondNav ul.subnav .navlevel3top a:hover{
	color: white;
	margin: 2px 0px;
	background: #673A2D;
	width: 180px;
	}

body div.c1 div.secondNav ul.subnav li.itemOn3 a{
	background: #0f7970;
	color: white;
	width: 180px;
	}

* div.c1 div.secondNav ul.subnav li.itemOn3 a{
	width: 100%;
	}

div.c1  ul.subnav .navlevel4 a{
	padding: 2px 0px 2px 27px;
	color: #666666;
	margin: 2px 0px 2px 0px;
	width: 85%;
	line-height: 14px;
	}
	
*div.c1  ul.subnav .navlevel4 a{
	margin: 2px 0px 2px 0px;
	width: 94%;	
	}

div.c1  ul.subnav .navlevel4 a:hover{
	padding: 2px 0px 2px 27px;
	color: #666666;
	margin: 2px 0px 2px 0px;
	background: #dddddd;
	text-decoration: underline;
	width: 85%;
	line-height: 14px;
	}
	
*div.c1  ul.subnav .navlevel4 a:hover{
	width: 93%;
	}

div.c1 div.secondNav ul.subnav li.itemOn4 a{
	background-color: #dddddd;
	color: #666666;
	margin: 2px 0px 2px 0px;
	padding: 2px 0px 2px 27px;
	background-image: url(/ui/images/arrow_journal.gif);
	background-repeat: no-repeat;
	background-position: 17px 5px;
	width: 85%;
	line-height: 14px;
	}

*div.c1 div.secondNav ul.subnav li.itemOn4 a{
	width: 93%;
	}

/*breadcrumbs*/
#breadCrumbs {
	font-size: 9px;
	color: #666666;
	_zoom: 1;
	padding: 6px 0 0 10px;
	}

#breadCrumbs ul {
	display: inline; 
	list-style-type: none;
	padding: 0;
	}

#breadCrumbs li {
	display: inline;
	margin: 0;
	padding: 0;
	}

#breadCrumbs a {
	font-size: 10px;
	color: #0f7970;
	text-decoration: underline;
	font-size: 9px;
	}

#breadCrumbs a:hover{
	color: #0f7970;
	text-decoration: underline;
	}

/* left side interior navigation components */
#interiorLeftBar {
	width: 200px; 
	height: auto;
	float: left;
	padding: 0 0 0 20px;
	font-size: 11px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	
	}
	
#interiorLeftBarNav  {
	width: 200px; 
	height: auto; 
	color: #666666; 
	font-size: 12px;
	font-weight: bold;
	margin: -10px 0 0 -20px;
	}
	
#interiorLeftBarNav ul {
	list-style: none;
	line-height: 18px;
	font-size: 11px;
	width: 200px;
	}
	
#interiorLeftBarNav .sidenavlevel3 {
	white-space: nowrap;
	color: #000000;
	width: 200px;
	background-image: url(/ui/images/sideMenuHR.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	}

#interiorLeftBarNav .sidenavlevel3 a{
	text-decoration: none;
	color: #666666;
	white-space: nowrap;
	padding-left: 8px;
	}
	
#interiorLeftBarNav .sidenavlevel3 a:hover {
	background-image: url(/ui/images/arrow.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	color: #003366;
	padding-left: 8px;
	text-decoration: none;
	}
	
#interiorLeftBarNav .itemOn3 a {
	background-image: url(/ui/images/arrow.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	color: #003366;
	padding-left: 8px;
	text-decoration: none;
	}

/* secondary navigation */
#interiorLeftBarNav .sidenavlevel4 {
	position: relative;
	margin: 0 0 0 20px;
	white-space: nowrap;
	}
	
#interiorLeftBarNav .sidenavlevel4 a{
	position: relative;
	text-decoration: none;
	color: #000000;
	background:url();
	}
	
#interiorLeftBarNav .itemOn4 a{
	position: relative;
	white-space: nowrap;
	color: #345C6F;
	}

/* tertiary navigation */
#interiorLeftBarNav .sidenavlevel5 {
	position: relative;
	margin: 0 0 0 40px;
	white-space: nowrap;
	}
	
#interiorLeftBarNav .sidenavlevel5 a{
	text-decoration: none;
	color: #666666;
	background: url();
	}
	
#interiorLeftBarNav .itemOn5 a{
	white-space: nowrap;
	color: #345C6F;
	}

/* fourthmeal navigation */
#interiorLeftBarNav .sidenavlevel6 {
	position: relative;
	margin: 0 0 0 60px;
	white-space: nowrap;
	}
	
#interiorLeftBarNav .sidenavlevel6 a{
	text-decoration: none;
	color: #666666;
	background: url();
	}
	
#interiorLeftBarNav .itemOn6 a{
	white-space: nowrap;
	color: #345C6F;
	}

.navDiv {
	 white-space: nowrap;
	 height: 30px;
	 width: 610px;
	 padding: 120px 0 0 0;
	 } 