/****
*	Form Wizard CSS
*	Hired Gun: Matthew Gaddis <matthew@spiremedia.com>
*	Created: 2006-03-30
****/

/*
*	Tool Bar & Palette
*/

ul#toolbar,
ul#palette
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#toolbar li,
ul#palette li p.handle { cursor: move; }

ul#toolbar dl,
ul#palette dl { margin: 0; }

div#body-left ul#toolbar dl dt,
div#body-left ul#toolbar dl dt.selected,
div#body-left ul#toolbar dl dt span,
div#body-left ul#toolbar dl dt.selected span,
div#body-right ul#palette dl dt,
div#body-right ul#palette dl dt.selected
{
	float: none;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
}

div#body-left ul#toolbar dl dd,
div#body-right ul#palette dl dd
{
	visibility: visible;
	position: relative;
	top: 0;
	left: 0;
	width: auto;	
	height: auto;
	overflow: visible;
	margin: 0;
	padding: 0;
	border: none;
}


/*
*	Tool Bar
*/

ul#toolbar  { height: 280px; }

ul#toolbar span,
ul#toolbar p,
ul#toolbar div { display: none; }


ul#toolbar h5,
body div#body-left ul#toolbar dl dd 
{
	margin-left: 2px;
	margin-right: 2px;
}

ul#toolbar h5
{
	margin-top: 2px;
	margin-bottom: 0;
	padding: 2px;
	font-size: 1em;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 0 1px;
}

body div#body-left ul#toolbar dl dd
{
	border: solid #ccc 1px;
	padding: 2px;
}

/*
*	Palette 
*/


ul#palette
{
	margin: 0;
	padding: 0;
	width: 700px;
	height: 300px;
	border: inset #ccc 3px;
	list-style: none;
}

html>body ul#palette 
{
	height: auto;
	min-height: 300px;
}


ul#palette h5, 
ul#palette label { display: none; }

ul#palette li 
{ 
	background: white; 
	border-bottom: double #ccc 6px;
	padding: 3px;
	position: relative;
	top: 0;
	left: 0;
	/* makes the li elements begin with hasLayout in IE. This property must
	be set so that the li elements render correctly */
	width: 100%;
}
ul#palette li.alternate { background: #f6f6f8; }

ul#palette li dl
{
	float: left;
}

ul#palette li p.handle
{
	float: left;
	width: 13em;
	margin: 0 1em;
	background: url("images/div%23sitemap-section-li-bkgd.gif") no-repeat 4em 85%;
}

ul#palette span { cursor: hand; }
html>body ul#palette span { cursor: pointer; }

ul#palette li form
{
	display: inline;
}

ul#palette li a 
{ 
	text-decoration: none; 
	color: red;
}

ul#palette li a.disabled { color: #ccc; }

ul#palette li a img { border: none; }
