/****
*		Hired Gun: Matthew Gaddis <matthew@spiremedia.com>
*		Created: 2006-01-30
*		File: Platform2006 Layout
****/

body
{
	background: #fff url("images/body-bkgd.jpg") repeat-x 0 0;
	margin: 0;
	padding-left: 21px;
}

/*
	head rules
*/
div#head 
{ 
	height: 124px;
	width: 1001px;
}

div#welcome,
form#site-manager,
form#client-manager
{
	float: right;
}

form#client-manager
{
	margin: 0;
	padding: 22px 16px 0 0;
}

form#site-manager,
form#site-manager dl,
form#site-manager p { margin: 0; }

form#site-manager 
{ 
	padding: 22px 16px 0 0; 
}

form#site-manager dt
{
	float: left;
	clear: left;
	padding: 0.2em 0.1em 0 0;
}

form#site-manager dd
{
	float: left;
	margin-left: 0;
}

div#welcome,
div#welcome div.inner { height: 53px; }

div#welcome
{
	background: url("images/div%23welcome-bkgd.gif") no-repeat right top;
	margin-top: 16px;
	width: 200px;
}


html>body div#welcome 
{
	width: auto;
	min-width: 200px;
}

div#welcome div.inner
{
	position: relative;
	left: -4px;
	padding: 9px 0 0 13px;
	background: url("images/div%23welcome-inner-bkgd.gif") no-repeat left top;
	float: left;
}


div#top
{
	position: absolute;
	top: 69px;
	left: 25px;
	width: 1003px;
}

div#sub
{
	position: absolute;
	top: 94px;
	left: 21px;
	width: 1003px;
}

/*

	body rules

*/

div#body
{
	background: url("images/div%23body(l2)-bkgd.gif") repeat-y left top;
	width: 1003px;
}

div#body-left,
div#body-right
{
	float: left;
	padding-bottom: 20px;
	height: 380px;
}

div#body-left
{
	width: 554px;
	position: relative;
	top: 0;
	left: 0;
}

div#body-right { width: 449px; }

html>body div#body-left,
html>body div#body-right
{
	height: auto;
	min-height: 380px;
}

div#body-left div.content 
{ 
	padding: 0 0 0 24px; 
}

div#body-right div.content 
{ 
	position: relative;
	top: 0;
	left: 10px;
	border-top: solid #fff 1px;
}
