<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-14255172" />
            <remove name="AboMapperCustom-14255173" />
            <remove name="AboMapperCustom-14255171" />
            <add name="AboMapperCustom-14255171" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion9\runtime\lib\wsconfig\1\jrun_iis6_wildcard.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="AboMapperCustom-14255173" path="*.cfc" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion9\runtime\lib\wsconfig\1\jrun_iis6_wildcard.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="AboMapperCustom-14255172" path="*.cfml" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion9\runtime\lib\wsconfig\1\jrun_iis6_wildcard.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cfm" />
                <add value="index.cfc" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
